asttokens==2.4.1
audioread==3.0.1
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
decorator==5.1.1
distlib==0.3.8
executing==2.1.0
filelock==3.13.4
idna==3.10
ipython==8.28.0
jedi==0.19.1
joblib==1.4.2
lazy_loader==0.4
librosa==0.10.2.post1
llvmlite==0.43.0
matplotlib-inline==0.1.7
msgpack==1.1.0
numba==0.60.0
numpy==2.0.2
packaging==24.1
parso==0.8.4
pexpect==4.9.0
platformdirs==4.2.0
pooch==1.8.2
prompt_toolkit==3.0.48
ptyprocess==0.7.0
pure_eval==0.2.3
pycparser==2.22
Pygments==2.18.0
requests==2.32.3
scikit-learn==1.5.2
scipy==1.14.1
six==1.16.0
soundfile==0.12.1
soxr==0.5.0.post1
stack-data==0.6.3
threadpoolctl==3.5.0
traitlets==5.14.3
typing_extensions==4.12.2
urllib3==2.2.3
virtualenv==20.25.3
wcwidth==0.2.13
